#boton-pasaporaqui::before{
    content: "Pasa por encima>>";
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#boton-pasaporaqui:hover{
    color: white;
    background-color: green;
}

.boton-hecho::after{
    content: "¡Hecho!";
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}